.has-main-image {
    background-image: url('../../assets/solar-panels.jpg');
    background-size: cover;
    background-position: 25% 50%;
    height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-image {
    margin-top: 150px;
    opacity: 0;
    width: calc(100% - 30px);
    animation-fill-mode: backwards;
    animation: energize 1.2s cubic-bezier(1.000, -0.125, 0.445, 1.070) 1 forwards;
}

.credits {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 5px;
    padding-right: 20px;
    clip-path: polygon(0 0, 96% 0, 100% 100%, 0% 100%);
}

@keyframes energize {
    0% {
        opacity: 0;   
        margin-top: 150px;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}